@using NavBarOtherMethod.Models
@model IEnumerable<News>
@{
    ViewBag.Title = "Muharibe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Muharibe</h1>

<div class="container">
    <div class="card">
        <div class="card-body">
            @foreach (var item in Model)
            {
                <h4 class="card-title">@item.Title</h4>
                <p class="card-text">@item.Body</p>
            }

        </div>
    </div>
</div>